<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%=userprofile.name %></p>
    <p><%=userprofile.email%></p>
    <p><%=userprofile.msg %></p>
</body>
</html>